<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8" />
	<title>会員管理システム</title>
	<link rel="stylesheet" href="/css/bootstrap.css" />
	<style type="text/css">
		.errorStr {
			color: red;
		}
	</style>
</head>

<body>
	<div class="container">
		<h1>ログイン</h1>
		<div th:if="${param.error}">
			<span class="errorStr"
				th:text="#{AbstractUserDetailsAuthenticationProvider.badCredentials}">デフォルトのエラーメッセージ</span>
		</div>
		<div th:if="${param.logout}">
			You have been logged out.
		</div>
		<form th:action="@{/login}" method="post">
			<div class="form-group">
				<label for="accountname" class="control-label">アカウント名</label>
				<input class="form-control" type="text" name="username">
			</div>
			<div class="form-group">
				<label class="control-label" for="password">パスワード</label>
				<input class="form-control" type="password" name="password">
			</div>
			<button class="btn btn-default" type="submit">ログイン</button>
		</form>
	</div>

</body>

</html>