<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8" />
	<title>Show Member</title>
	<link rel="stylesheet" href="/css/bootstrap.css" />
	<script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
	<script th:src="@{/js/member.js}" defer="defer"></script>
</head>

<body>
	<div class="container">
		<h1>会員詳細</h1>
		<span th:if="${error}" style="color: red;">[[${error}]]</span>
		<table class="table table-bordered table-hover col-md-3" th:if="${member}" th:object="${member}">
			<tr>
				<th for="id" class="control-label">ID</th>
				<td><span th:text="*{id}"></span></td>
			</tr>
			<tr>
				<th for="firstName" class="control-label">姓</th>
				<td><span th:text="*{firstName}"></span></td>
			</tr>
			<tr>
				<th for="lastName" class="control-label">名</th>
				<td><span th:text="*{lastName}"></span></td>
			</tr>
			<tr>
				<th for="gender" class="control-label">性別</th>
				<td><span th:text="${@memberConstants.GENDERS.get(member.gender)}"></span></td>
			</tr>
			<tr>
				<th for="birthDate" class="control-label">生年月日</th>
				<td><span th:text="*{birthDate}"></span></td>
			</tr>
			<tr>
				<th for="postCode" class="control-label">郵便番号</th>
				<td><span th:text="*{postCode}"></span></td>
			</tr>
			<tr>
				<th for="prefecture" class="control-label">都道府県</th>
				<td><span th:text="*{prefecture.name}"></span></td>
			</tr>
			<tr>
				<th for="address1" class="control-label">住所</label>
				<td><span th:text="*{address1}"></span></td>
			</tr>
			<tr>
				<th for="address2" class="control-label">アパート名</label>
				<td><span th:text="*{address2}"></span></td>
			</tr>
			<tr>
				<th for="phoneNumber" class="control-label">電話番号</label>
				<td><span th:text="*{phoneNumber}"></span></td>
			</tr>
		</table>
		<div class="text-center">
			<a th:href="@{/member/{id}/edit(id=${member.id})}" class="btn btn-default">編集</a>
			<a th:href="@{/member/{id}/delete(id=*{id})}" class="btn btn-default" id="delete">　削除　</a>
			<a class="btn btn-default" th:href="@{/member/search}">一覧画面へ</a>
		</div>
	</div>
</body>

</html>